<header>
  <div class="navbar-fixed">
    <nav class="deep-orange lighten-1">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">TuTienda</a>
        <ul class="left">
          <li>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a href="#" data-activates="summary-cart" class="view-cart">
              <i class="material-icons left">shopping_cart</i>
              <span class="new badge" data-badge-caption="" ng-if="$ctrl.cart.length > 0">{{$ctrl.cart.length}}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <ul id="slide-out" class="side-nav fixed">
    <li>
      <h5>Ordenar por: </h5>
      <ul>
        <li>
          <a class="waves-effect waves-light " ng-click="$ctrl.sortBy('product')">Nombre</a>
        </li>
        <li>
          <a class="waves-effect waves-light " ng-click="$ctrl.sortBy('price')">
                        <i ng-if="$ctrl.reverse" class="material-icons small right">arrow_drop_up</i>
                        <i ng-if="!$ctrl.reverse" class="material-icons small right">arrow_drop_down</i>
                        Precio</a>
        </li>
        <ul>
    </li>
    <li>
      <div class="divider"></div>
    </li>
    <li>
      <h5>Categorias</h5>
      <ul ng-repeat="cat in $ctrl.Categories">
        <li>
          <input name="categoriesGroup" ng-model="$ctrl.search" value="{{cat}}" type="radio" id="{{cat}}" />
          <label for="{{cat}}">{{cat}}</label>
        </li>
      </ul>
    </li>
    <li>
      <h5>Precio</h5>
      <ul>
        <li>
          <input ng-model="$ctrl.Filters.greaterthan30" type="checkbox" id="greaterThan30" ng-checked="$ctrl.SetFilters()"/>
          <label for="greaterThan30">Mayor a $30.000</label>
        </li>
        <li>
          <input type="checkbox" ng-model="$ctrl.Filters.lessthan10" id="lessthan10" />
          <label for="lessthan10">Menor a $10.000</label>
        </li>
      </ul>
    </li>
    <li>
      <h5>Otros filtros</h5>
      <ul>
        <li>
          <input ng-model="$ctrl.Filters.topseller" type="checkbox" id="masvendidos" />
          <label for="masvendidos">Más vendidos</label>
        </li>
        <li>
          <input ng-model="$ctrl.Filters.soldout" type="checkbox" id="agotados" />
          <label for="agotados">Agotados</label>
        </li>
        <li>
          <input ng-model="$ctrl.Filters.available" type="checkbox" id="disponibles" />
          <label for="disponibles">Disponibles</label>
        </li>
      </ul>
    </li>
    <li>
        <a class="waves-effect waves-light btn-large" ng-click="$ctrl.CleanFIlters()">Limpiar Filtros</a>
    </li>
    </ul>
</header>



<main class="row">
  <cart id="summary-cart" class="side-nav" items="$ctrl.cart"></cart>

  <div class="container" ng-init="$ctrl.Init()">

    <div class="input-field col s12 m6 offset-m3">
      <input placeholder="Buscas un producto? Ingresa una descripción o palabra clave" ng-model="$ctrl.search" id="searchProduct"
        type="text" class="validate">
    </div>

    <div class="row fade" ng-repeat="product in $ctrl.Products | orderBy:$ctrl.orderProperty:$ctrl.reverse | filter: $ctrl.search">
      <div class="col s12 m6 offset-m3">
        <div class="card horizontal hoverable">
          <div class="card-image">
            <img ng-src="{{product.img}}">
          </div>
          <div class="card-stacked right-align">
            <div class="card-content">
              <h4>{{product.product}}</h4>
              <p>{{product.description}}</p>
              <p>Precio: {{product.price | currency:'$':0}}</p>
              <p ng-show="{{product.stock > 0}}">Aún quedan {{product.stock}} disponibles!</p>
              <p ng-show="{{product.stock == 0}}">Producto agotado.</p>
              <p >{{product.vendidos}} vendidos!</p>
              <div class="chip">
                  {{product.category}}
                </div>
            </div>
            <div class="col s7 offset-s3">
              <a ng-show="{{product.stock > 0}}" class="waves-effect waves-light btn-large btnAddCar deep-orange " ng-click="$ctrl.AgregarAlCarro(product)">Agregar al carro</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>